.modal-enter {
  transform: scale(0.9);
  opacity: 0;
}
.modal-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}
.modal-exit {
  transform: scale(1);
  opacity: 1;
}
.modal-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-card {
  animation: fadeIn 0.5s ease-in-out;
}
.bg-gray-100 {
  @apply bg-gray-100 dark:bg-gray-800;
}

.text-gray-800 {
  @apply text-gray-800 dark:text-gray-200;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 2s linear infinite; /* Rotacija traje 2 sekunde i ponavlja se beskonačno */
}

.modal-enter {
  transform: scale(0.9);
  opacity: 0;
}
.modal-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}
.modal-exit {
  transform: scale(1);
  opacity: 1;
}
.modal-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

.button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #003580;
  transform: scale(1.05);
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
